<!DOCTYPE html>
<html lang="en">
<head>
     {% extends "base.html" %}
{% block content %}
    <meta charset="UTF-8">
    <title>features </title>
</head>
<body>

<div class="mx-auto" style="width: 10000px;">
<button type="button" class="btn btn-success">

    <h4>About this Offline Banking</h4>
    <h2>
<ol>
    <li>You can Creat Account (<b>Rs1000 Bonus will be credited Automatically </b>) </li>
    <li>You can Deposit Money</li>
    <li>You can Withdrwal Money</li>
    <li>Check All you Transation History</li>
    <li>Many Features are updating soon,....So Stay Tuned</li>
    </ol> </h2>
</button>
</div>
{% endblock %}
</body>
</html>